/*
Theme Name: Quick Cash Advance
Theme URI: www.quickcashadvance.com
Author: Jocelyn Hanc
Version: 1.0
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Basic Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* end reset */

@font-face{ 
	font-family: 'museoSlab500';
	src: url('fonts/museo_slab_500-webfont.eot');
	src: url('fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/museo_slab_500-webfont.woff') format('woff'),
	     url('fonts/museo_slab_500-webfont.ttf') format('truetype'),
	     url('fonts/museo_slab_500-webfont.svg#webfont') format('svg');
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

/* General */
html {
	background: url(img/body-x.jpg);
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #595d6a;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
	padding: 0 0 20px;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: bold;
	color: #000;
}
h1 {
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 23px 0;
	color: #393939;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 10px 0;
	color: #595d6a;
}
h3 {
	font-size: 14px;
}
h4, h5, h6 {
	font-size: 14px;
	font-weight: normal;
}
a, a:link, a:active, a:visited {
	text-decoration: none;
	outline: none;
	color: #e96327
}
a:hover {
	text-decoration: underline;
}
ul, ol {
	padding-left:30px;
}

ul li, ol li {
	list-style-type: disc;
}
ol li {
	list-style-type: decimal;
}
ul ul {
	padding-bottom: 0;
}
#wrapper {
	background: url(img/header-x.jpg) left top repeat-x;
}
body.home #wrapper {
	background: url(img/body-x-home.jpg) left top;
}
body.home #wrapperHome {
	background: url(img/header-x.jpg) left top repeat-x;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
#mainHeader {
	margin: 0 auto;
	padding-right: 30px;
	height: 84px;
}
	#logo-main {
		display: block;
		margin-top: 32px;
		float: left;
	}
	#hSearch {
		float: right;
		width: 281px;
		height: 40px;
		margin-top: 20px;
	}
		#hSearch input {
			outline: none;
			border: none;
		}
			html.ie7 #hSearch input, html.ie8 #hSearch input {padding-top: 13px; height: 27px;}
			input#hsBox {
				float: left;
				background-color: #fff;
				border: 1px solid #cccccc;
				height: 38px;
				width: 179px;
				padding: 0 0 0 9px;
				color: #595d6a;
				font-size: 14px;
			}
			input#hsButton {
				float: right;
				height: 40px;
				width: 70px;
				background: url(img/hsearch-bg.png) no-repeat;
				cursor: pointer;
			}
				html.ie7 input#hsButton, html.ie8 input#hsButton {height: 50px; margin-top: 1px;}
.tinynav {display: none;}
nav#mainMenu {
	clear: both;
	display: block;
	text-align: left;
	margin: 0 auto;
}
	nav#mainMenu ul,
	nav#mainMenu ul li {
		list-style: none;
		margin: 0px;
		padding: 0px;
		position: relative;
		font-size: 0;
	}
	nav#mainMenu ul {
		/* --- match height of primary navigation height (top / bottom padding + line-height) --- */
		height: 46px;
		z-index: 96;
	}
	nav#mainMenu ul li {
		z-index: 97;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
		nav#mainMenu > ul > li.showDrop {cursor: pointer;}
		nav#mainMenu > ul > li.showDrop > a {
			background: url(img/nav-arrow.png) right 15px no-repeat;
			cursor: pointer;
			margin-right: 21px;
		}
	nav#mainMenu ul li a {
		vertical-align: top;
		display: inline-block;
		overflow: hidden;
		text-decoration: none;
		padding: 15px 22px;
		color: #595d6a;
		font-size: 16px;
		line-height: 16px;
	}
		nav#mainMenu > ul > li:first-child > a {padding-left: 0;}
	nav#mainMenu ul li a:hover,
	nav#mainMenu ul li:hover a {
		text-decoration: none;
		color: #000;
	}

	/*--- 2nd level drop ---*/
	nav#mainMenu ul ul {
		display: none;
		position: absolute;
		z-index: 98;
		left: 15px;
		top: 46px;
		width: 175px;
		height: auto;
		text-align: left;
		border: 1px solid #dfdf81;
		border-bottom: none;
		border-top: none;
		background-color: #bebe00;
	}
	nav#mainMenu ul li:hover ul {
		border-top: 1px solid #dfdf81;
		border-bottom: 1px solid #dfdf81;
	}
	nav#mainMenu ul ul li {
		position: relative;
		z-index: 99;
		display: inline;
		zoom: normal;
	}
	nav#mainMenu ul ul li a,
	nav#mainMenu ul ul ul li a{
		position: relative;
		z-index: 100;
		display: block;
		height: auto;
		width: auto;
		padding: 10px 10px;
		border-top: 1px solid #dfdf81;
	}
		nav#mainMenu > ul ul > li:first-child > a {border-top: none;}
	nav#mainMenu ul ul li a,
	nav#mainMenu ul li:hover ul li a,
	nav#mainMenu ul ul ul li a,
	nav#mainMenu ul li:hover ul li:hover ul a {
		background: #bebe00;
		color: #fff;
	}

	nav#mainMenu ul ul li a:hover,
	nav#mainMenu ul ul li:hover a,
	nav#mainMenu ul li:hover ul li:hover a,
	nav#mainMenu ul ul ul li a:hover,
	nav#mainMenu ul li:hover ul ul li a:hover,
	nav#mainMenu ul ul li:hover ul li a:hover {
		color: #f8f898;
	}
	
	/*--- 3rd level drop ---*/

	nav#mainMenu ul ul ul,
	nav#mainMenu ul li:hover ul ul {
		display: none;
		position: absolute;
		left: 175px;
		top: 0px;
		margin: 0;
		width: 200px;
	}
	nav#mainMenu ul li ul li,
	nav#mainMenu ul li ul li ul li {
		display: none;
	}
	nav#mainMenu ul li:hover ul li,
	nav#mainMenu ul li ul li:hover ul li {
		display: block;
	}

	/* --- IE (all versions) position fix --- */
	.ie6 nav#mainMenu ul li:hover ul ul,
	.ie7 nav#mainMenu ul li:hover ul ul,
	.ie8 nav#mainMenu ul li:hover ul ul,
	.ie9 nav#mainMenu ul li:hover ul ul {
		top: 0px;
	}
	
	nav#mainMenu ul ul li:hover ul {
		display: block;
	}
#subheader {
	height: 200px;
}
	body.home #subheader {height: 440px;}
	#shSteps {
		height: inherit;
		width: 587px;
		padding: 0 0 0 13px;
		float: left;
		background: url(img/splash-bg.png) 69px 140px no-repeat;
	}
	body.home #shSteps {
	
	}
		#shSteps h2 {
			font-size: 48px;
			color: #393939;
			font-weight: 300;
			margin: 70px 0 143px -2px;
		}
			#shSteps h2 span {color: #bebe00;}
		.stepBlocks {
			float: left;
			width: 149px;
			text-align: center;
			color: #393939;
			margin-right: 57px;
		}
		#step3 {
			margin-right: 0;
			margin-left: 2px;
		}
	#qrForm {
		margin-top: 21px;
		background-color: #595d6a;
		height: 152px;
		padding: 8px 30px 0 20px;
		position: relative;
	}
		body.home #qrForm {
			float: right;
			width: 280px;
			height: 381px;
			padding: 19px 30px 0 30px;
		}
		#formPlacement {
			float: right;
			width: 590px;
		}
			body.home #formPlacement {
				float: none;
				width: 280px;
			}
		#qrForm h2 {
			float: left;
			color: #fff;
			font-weight: 300;
			font-size: 25px;
			text-align: center;
			margin-bottom: 7px;
			margin-top: 28px;
		}
			body.home #qrForm h2 {
				margin-top: 0;
				float: none;
			}
		#qrForm label {
			color: #fff;
			font-weight: 300;
		}
		#qrForm input, #qrForm select {
			background-color: #fff;
			border: 1px solid #cccccc;
			height: 38px;
			font-weight: 400;
			font-size: 14px;
			color: #959595;
			-webkit-border-radius: 0px;
		}
		#qrForm select {
			background: url('img/nav-arrow.png') 101px center no-repeat #ffffff;
			color: #959595;
			outline: none;
			-webkit-appearance: none;
			padding-left: 10px;
			border: 1px solid #cccccc;
			height: 40px;
			width: 130px;
		}
		#qrForm input {padding: 0 0 0 10px;}
			html.ie7 #qrForm input, html.ie8 #qrForm input {
				height: 40px;
				line-height: 40px;
			}
		#qrForm form div {height: 70px;}
		#qrForm p {
			color: #fff;
			font-size: 12px;
			float: left;
			width: 286px;
		}
		body.home #qrForm p {
			float: none;
			width: 280px;
		}
		#qrForm a {
			color: #fff;
			font-weight: 700;
			text-decoration: none;
		}
			#qrForm a:hover {text-decoration: underline;}
		.formLeft {
			float: left;
		}
		.formRight {
			float: left;
		}
			body.home .formRight {float: right;}
		.firstLine {width: 130px;}
			.firstLine select {width: 120px;}
			.firstLine input {width: 118px;}
			#zipRight {margin: 0 30px 0 20px;}
				html.ie7 #zipRight {margin-right: 200px;}
				body.home #zipRight {margin: 0;}
		.secondLine {width: 140px;}
			.secondLine input {width: 128px;}
			#formName {clear: left;}
				body.home #formName {clear: none;}
			#fLast {margin-bottom: 0;}
				body.home #fLast {margin-bottom: 84px;}
			#fLast input {
				border-left: none;
				padding: 0 0 0 20px;
				width: 119px;
			}
		.thirdLine {
			width: 280px;
			position: absolute;
			right: 30px;
			top: 8px;
		}
			body.home .thirdLine {
				top: 207px;
			}
				html.ie7 body.home .thirdLine {
					top: 207px;
					z-index: 20;
					float: none;
				}
			.thirdLine input {width: 268px;}
		
		#qrForm .button-holder {
			display: block;
			margin: 23px 0 13px 0;
			float: right;
			height: 40px;
		}
			body.home #qrForm .button-holder {
				clear: right;
				float: none;
				margin: 14px 0 13px 0;
			}
				html.ie7 body.home #qrForm .button-holder {
					clear: none;
					margin: 0 0 13px 0;
					padding-top: 90px;
				}
		#qrForm .button-holder input {
			background: url(img/get-cash.png) left top no-repeat;
			width: 280px;
			height: 40px;
			border: none;
			outline: none;
			cursor: pointer;
			display: block;
		}
			html.ie8 #qrForm .button-holder input {height: 60px;}

.tinynav {display: none;}
#contentArea {
	clear: both;
	padding: 20px 0 0 0;
	margin: 0 auto;
	overflow: hidden;
}
.contentBox {
	background-color: #fff;
	border: 1px solid #cccccc;
	padding: 22px 20px;
}
#mainContent {
	float: left;
	width: 538px;
	overflow: hidden;
}
	body.home #mainContent.contentBox {
		background-color: transparent;
		border: none;
		padding: 0;
		width: 580px;
	}
	#complianceText {
		margin-top: 20px;
	}
		#complianceText h3 {
			background-image: url(img/plusminus.png);
			background-repeat: no-repeat;
			background-position: right top;
			color: #888;
			text-transform: uppercase;
			cursor: pointer;
			padding: 10px 10px 10px 0;
			border-bottom: 1px solid #dcdcdc;
		}
			#complianceText h3.open {
				border-bottom: none;
				background-position: right bottom;
			}
			#complianceText h3:first-child {border-top: 1px solid #dcdcdc}
		#notaccordion div {border-bottom: 1px solid #dcdcdc;}
h2.categoryLinks {font-size: 15px;}
	#archiveSearch {margin-bottom: 20px;}
		#archiveSearch input {
			border: 1px solid ##cccccc;
			background: #fff;
			outline: none;
		}
		#archiveSearch #searchsubmit {
			background-color: #bebe00;
			color: #fff;
			border: 1px solid #b3b300;
			cursor: pointer;
		}
div.textwidget {margin-bottom: 42px;}
.lcCats > ul {
	padding: 0;
}
	.lcCats > ul > li:first-child {
		list-style: none;
		font-size: 18px;
		padding: 0;
		color: #595d6a;
	}
		.lcCats ul ul {
			padding: 10px 0 0 10px;
		}
		.lcCats ul ul li {
			list-style: none;
			font-size: 15px;
		}
.catLink a, .catLink {
	font-size: 12px;
	color: #595d6a;
	font-weight: bold;
}
.catLink {
	display: block;
	margin-top: 15px;
}
#sidebar {
	float: right;
	width: 298px;
}
	#sidebar h2 {padding: 0 0 24px;}
	#sidebar a {
		color: #000;
		font-weight: bold;
	}
#mainFooter {
	overflow: hidden;
	padding: 43px 0 10px 0;
}
	#fLeft {
		float: left;
		overflow: hidden;
		width: 600px;
	}
	#mainFooter ul {padding: 0;}
		#mainFooter ul li {
			float: left;
			display: inline;
		}
			#mainFooter ul li a {
				color: #595d6a;
				text-decoration: none;
				font-weight: bold;
				margin-right: 25px;
			}
				#mainFooter ul li a:hover {text-decoration: underline;}
	#mainFooter p {
		clear: both;
		float: left;
		padding-top: 10px;
	}
	#logo-footer {float: right;}
	
/* SexyDrops */

/* General SD requirements
------------------------------- */

.sexyDropWrapper {
  position: relative;
  float: left;
  overflow: hidden;
}
select.sexyDrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  padding: 0;
  cursor: pointer;
}
.sexyDropWrapper .sexyDropUI {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  background: url('img/nav-arrow.png') #ffffff right center no-repeat;
}

/* end general requirements
------------------------------- */

/* SD customizations
------------------------------- */

/* #qrForm */
#qrForm .sexyDropWrapper {
  height: 40px;
  width: 130px;
  margin: 0;
}
#qrForm .sexyDropWrapper .sexyDropUI {
  border: 1px solid #cccccc;
  height: 38px;
  outline: none;
  background-image: url('img/nav-arrow.png');
  background-position: 101px center;
  background-repeat: no-repeat;
  background-color: #fff;
  color: #959595;
  font-size: 14px;
  line-height: 38px;
  padding: 0 0 0 10px;
  font-weight: 400;
  width: 118px;
}
#qrForm select.sexyDrop {
  height: 40px;
  width: 130px;
}

/* SexyDrops Apply Page Form */
.myForm .eeForm .sexyDropWrapper {
    margin-bottom: 5px;
    height: 41px;
    width: 260px;
}
.myForm .eeForm .sexyDropWrapper .sexyDropUI {
    border: 1px solid #d7d7d7;
	border-radius:3px;
   	-moz-border-radius:3px;
    -webkit-border-radius:3px;
	background-image: url(img/nav-arrow-big.png);
	background-position: 231px center;
	color: #252525;
	font-weight: normal;
	font-size: 16px;
	padding: 4px 4px 4px 11px;
	width: 243px;
	height: 31px;
    line-height: 31px;
}
.myForm .eeForm .sexyDropWrapper select {
	width: 260px;
	height: 41px;
}
.myForm .eeForm .sexyDropWrapper.valid .sexyDropUI{
	background-color: #F0FFEC;
	border-color: #5BBB42;
}
.myForm .eeForm li.half p .sexyDropWrapper {width: 110px;}
.myForm .eeForm li.half p .sexyDropWrapper .sexyDropUI {
	width: 93px;
	background-position: 81px center;
}
.myForm .eeForm li.half p .sexyDropWrapper select {width: 110px;}

/* Wordpress Specific 
	-Apply Page
*/

body.apply #wrapper {background: url(img/header-x-apply.jpg) left top repeat-x;}
body.apply #contentArea {display: 26px 0 0 0;}
body.apply #mainContent {width: 100%; padding: 22px 0 0 0;}
body.apply #mainFooter {padding: 24px 0 10px 0}
body.apply #fLeft p {padding-top: 0;}
body.apply #logo-footer {margin-top: 7px;}
body.apply .contentBox {
	background-color: transparent;
	border: none;
}

/*  Apply Form */

/* General
-------------------------------------------------------------- */
.myForm .eeForm {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	line-height: normal;
}
.myForm .i-agree {
	font-size: 11px;
}
.myForm .eeForm ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}
.myForm .eeForm li {
	display: inline;
	padding: 0px;
	margin: 0px;
}
.myForm .eeForm h4.header {
	margin-bottom: 10px;
	color: #393939;
	font-size: 20px;
	clear: both;
}
/* Form Elements
-------------------------------------------------------------- */
.myForm .eeForm .half {
	display:inline-block;
	width: 110px;
	float: left;
	padding-right: 40px;
}
.myForm .eeForm p.griditem {
	display:block;
	float:left;
	width:260px;
	height:54px;
	margin:0 0 36px;
	padding: 0 40px 0 0;
}
.myForm .eeForm label {
	display: block;
	color: #595d6a;
	font-size: 14px;
	margin: 0 0 3px 1px;
}
.myForm .eeForm input,
.myForm .eeForm select {
    border: 1px solid #d7d7d7;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    font-size: 16px;
    color: #252525;
    margin-bottom: 5px;
    padding: 4px;
    line-height: normal;
    height: 31px;
    width: 243px;
    padding-left: 11px;
    -webkit-appearance: none;
}
.myForm .eeForm select {height: 41px;}
html.ie7 .myForm .eeForm input, html.ie8 .myForm .eeForm input {padding-top: 12px; height: 24px;}
.myForm .eeForm .half input {
	width: 108px;
}
.myForm .eeForm #loadError {
	width: 100%;
	border: 1px solid #942526;
	color: #641617;
	margin: auto;
	margin-bottom: 10px;
	background: #ffd4d4;
	text-align: center;
}
.myForm .eeForm input.ieinvalid, .eeForm select.ieinvalid {
	color: #641617;
	border-color: #942526 !important;
	background-color: #ffd4d4;
}
.myForm .eeForm input.ievalid, .eeForm select.ievalid {
	color: #457421;
	border-color: #69A136 !important;
	background-color: #edffdd;
}

.myForm .eeForm li#lName-li p.griditem, 
.myForm .eeForm li#state-li p.griditem, 
.myForm .eeForm li#rentOwn-li p.griditem,
.myForm .eeForm li#licenseState-li p.griditem,
.myForm .eeForm li#callTime-li p.griditem,
.myForm .eeForm li#ssn-li p.griditem,
.myForm .eeForm li#employerName-li p.griditem,
.myForm .eeForm li#jobTitle-li p.griditem,
.myForm .eeForm li#secondPayday-li p.griditem,
.myForm .eeForm li#accountType-li p.griditem,
.myForm .eeForm li#monthsBank-li p.griditem,
.myForm .eeForm li#privacyPolicy-li p.griditem
 {padding-right: 0;}

.myForm .eeForm .help-bubble {display: none;}
.myForm .eeForm .btmbar {
	width: 97%;
	display: inline-block;
	margin-top: 10px;
}
.myForm .eeForm .progress-bar {display: none;}	

.myForm .eeForm .btmbar .prev-button {
	display: inline-block;
	margin-right:40px;
	float:left;
	width: 260px;
	height: 40px;
	background: url(img/back-button.jpg) left top no-repeat;
	cursor: pointer;
}
.myForm .eeForm .btmbar .prev-button img, .myForm .eeForm .btmbar .next-button img {display: none;}
.myForm .eeForm .btmbar .next-button {
	display: inline-block;
	float:left;
	width: 260px;
	height: 40px;
	background: url(img/submit-button.jpg) left top no-repeat;
	cursor: pointer;
}

/* ==========================================================================
Validation
========================================================================== */
.eeForm label.valid,
.eeForm input.valid,
.eeForm .valid .sexyDropUI,
#mainContent .eeForm .valid span {
	border-color: #5BBB42;
	color: #1D8700;
}
.myForm .eeForm input.valid {background-color: #F0FFEC;}
.eeForm label.invalid,
.eeForm input.invalid,
.eeForm .invalid .sexyDropUI,
.eeForm .invalid .sexyDropUI span,
#mainContent .eeForm .invalid span {
	border-color: #EB9999;
	color: #A73233;
}
.myForm .eeForm input.invalid {background-color: #FFE9E9;}
	
/* Hover Tooltip
-------------------------------------------------------------- */
#tooltip {
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
    width:auto;
    max-width:200px;
    min-width:100px;
    background:white;
    padding:10px;
    margin-top:4px;
    font-size:12px;
    line-height:16px;
    color:#222;
    text-align: center;
}
#tooltip #ttimg.top{
    margin-top:-17px;
    margin-left:2px;
}
#tooltip #ttimg.bottom{
    bottom:0;
    margin-bottom:-12px;
    margin-left:2px;s
}
#tooltip.default{
    background:black;
    color:white;
    margin-top:2px;
	z-index:9999 !important;
}
#tooltip.default #ttimg.top{
	position:absolute;
	margin-top:-8px;
    margin-left:-8px;
}
#tooltip.default #ttimg.bottom{
	position:absolute;
    bottom:0;
    margin-bottom:-3px;
    margin-left:-8px;
}

.inactive {
	display: none;
}

/* ==========================================================================
Datepicker
========================================================================== */
#ui-datepicker-div {color: #fff;}
#ui-datepicker-div .ui-widget-header{border:0!important;background:none!important}#ui-datepicker-div .ui-state-active{background:#000!important}.ui-datepicker{display:none;padding:.2em .2em 0;width:17em}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:6px;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{color:#fff!important}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;text-align:center;line-height:1.8em}.ui-datepicker .ui-datepicker-title select{margin:1px 0;font-size:1em}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{margin:0 0 .4em;width:100%;border-collapse:collapse;font-size:.9em}.ui-datepicker th{padding:.7em .3em;border:0;text-align:center;font-weight:bold}.ui-datepicker td{padding:1px;border:0}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{margin:.7em 0 0 0;padding:0 .2em;border-right:0;border-bottom:0;border-left:0;background-image:none}.ui-datepicker .ui-datepicker-buttonpane button{float:right;overflow:visible;margin:.5em .2em .4em;padding:.2em .6em .3em .6em;width:auto;cursor:pointer}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{margin:0 auto .4em;width:95%}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{right:auto;left:2px}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{right:auto;left:1px}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{background-image:none;opacity:.35;filter:alpha(opacity=35)}##113c51 .ui-state-default,#ui-datepicker-div .ui-widget-content .ui-state-default,#ui-datepicker-div .ui-widget-header .ui-state-default{border:0!important}.ui-datepicker-cover{position:absolute;top:-4px;left:-4px;z-index:-1;width:200px;height:200px;filter:mask()}.ui-widget-header{color:#fff}#ui-datepicker-div{z-index:5!important;padding:10px!important;-webkit-border-radius:0 0 3px 3px!important;border-radius:0 0 3px 3px!important;background:#595d6a;}#ui-datepicker-div .ui-state-active;-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.25)!important;box-shadow:0 2px 4px rgba(0,0,0,0.25)!important;color:#fff!important}.ui-datepicker-calendar td{color:#fff!important}.ui-datepicker-calendar a,.ui-datepicker-calendar td span{display:block!important;width:2em!important;height:2em!important;-webkit-border-radius:3px!important;border-radius:3px!important;background:#595d6a!important;background:rgba(0,0,0,0.25)!important;color:#fff!important;text-align:center!important;line-height:2em!important}.ui-datepicker-calendar a:hover{background:#595d6a!important;background:rgba(0,0,0,0.5)!important;color:#fff!important;text-decoration:none!important}.ui-datepicker-prev,.ui-datepicker-next{color:#fff!important}.ui-datepicker-prev:hover,.ui-datepicker-next:hover{color:#870000!important}.ui-widget-header .ui-datepicker-prev:hover,.ui-widget-header .ui-datepicker-next:hover{color:#fff!important}.ui-datepicker-prev{float:left!important;cursor:pointer!important}.ui-datepicker-next{float:right!important;cursor:pointer!important}.ui-datepicker-title{text-align:center!important}.ui-datepicker-header{margin-bottom:.5em!important;padding:.25em .5em!important;border-bottom:1px solid rgba(255,255,255,0.1)!important}
.ui-datepicker { display:none; }

/* Contact Us Form Style */

#wpcf7-f28-p27-o1 input {
	height: 36px;
	border: 1px solid #cccccc;
	padding-left: 10px;
}
#cuName, #cuEmail {float: left;}
#cuName {margin-right: 18px;}
#cuName span input, #cuEmail span input {
	width: 246px;
	padding-left: 10px;
	margin-top: 3px;
}
#cuSubject span input {
	clear: left;
	width: 524px;
	margin-top: 3px;
}
#cuMessage span textarea {
	border: 1px solid #cccccc;
	height: 158px;
	width: 522px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 3px;
}
#cuSubmit span {
	float: left;
	display: block;
	height: 50px;
}
#cuCaptcha {
	clear: left;
	padding-top: 5px;
}
#cuCapBox {margin-left: 5px;}
	#cuCapBox span input {width: 146px;}
#cuButton input {
	float: left;
	background: url(img/button-send.jpg) left top no-repeat;
	width: 260px;
	height: 40px;
	margin-left: 20px;
	cursor: pointer;
}

/* iPads ----------- */
@media screen and (max-width : 960px) {
/* Styles */
	.container {width: auto;}
	#mainHeader {
		height: 65px;
		width: 100%;
		padding: 0;
	}
		#logo-main {margin-top: 20px;}
		#hSearch {margin-top: 10px;}
	nav#mainMenu {
		margin-top: 0;
		padding-top: 15px;
		height: 49px;
	}
		nav#mainMenu > ul > li > a {
			font-size: 12px;
			padding: 15px 9px;
		}
		nav#mainMenu > ul > li.showDrop > a {
			margin-right: 0;
			padding-right: 21px;
		}
		nav#mainMenu ul ul {
			top: 36px;
			left: 0;
			background-color: transparent;
		}
	#subheader {height: 421px;}
	body.home #subheader {height: 323px;}
	#shSteps {
		float: none;
		margin: 0 auto;
		background: url(img/splash-bg.png) 69px 70px no-repeat;
	}
	#qrForm, body.home #qrForm {
		width: 100%;
		margin-top: 21px;
		background-color: #595d6a;
		height: 381px;
		padding: 19px 0 0 0;
		position: relative;
		float: right;
	}
	#formPlacement {
		margin: 0 auto;
		position: relative;
		float: none;
		width: 280px;
	}
		#qrForm h2, body.home #qrForm h2 {
			float: none;
			color: #fff;
			font-weight: 300;
			font-size: 25px;
			text-align: center;
			margin-bottom: 7px;
			margin-top: 0;
		}
		#qrForm p, body.home #qrForm p {
			margin: 0 auto;
			float: none;
		}
		.formRight, body.home .formRight {
			float: right;
		}
			#zipRight, body.home #zipRight {margin: 0;}
			#formName, body.home #formName {clear: none;}
			#fLast, body.home #fLast {margin-bottom: 84px;}	
		.thirdLine, body.home .thirdLine {
			right: 0;
			top: 141px;
		}	
		#qrForm .button-holder, body.home #qrForm .button-holder {
			display: block;
			clear: right;
			float: none;
			margin: 14px 0 13px 0;
			height: 40px;
		}
	
	#contentArea {width: 100%;}
	#mainContent {width: 59%;}
		#mainContent.contentBox {
			width: 57.2%;
		}
		body.home #mainContent.contentBox {
			width: 61.2%;
			padding: .8em;
		}
	.contentBox {padding: 1.4em 2.3%;}
	body.home #mainContent.contentBox {
		padding: 0;
	}
	#homeContent, #complianceText {
		padding: 1.4em 4.3%;
	}
	#sidebar {
		width: 31.7%;
	}
	/* form style */
	.myForm .eeForm {max-width: 580px;}
	.myForm .eeForm p.griditem, .myForm .eeForm .sexyDropWrapper, .myForm .eeForm .sexyDropWrapper select {width: 160px;}
	.myForm .eeForm input, .myForm .eeForm select, .myForm .eeForm .sexyDropWrapper .sexyDropUI {width: 143px;}
	.myForm .eeForm .sexyDropWrapper .sexyDropUI {background-position: 131px center;}
	#mainFooter {
		max-width: 580px;
		padding-bottom: 0;
		margin: 0 auto;
	}
		#fLeft {width: 100%;}
		#logo-footer {margin-top: -42px; float: none;}
}

/* Mobile Media Query */

@media screen and (max-width: 600px) {
	h1 {padding: 0 0 15px;}
	#wrapperHome {background: url(img/subheader-x.jpg) left top;}
	body.home #wrapperHome {background: url(img/body-x-home.jpg) left top;}
	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	#mainHeader {
		height: 71px;
		overflow: hidden;
		padding: 0;
		width: 100%;
		margin: 0 auto;
	}
	#logo-main {
		position: absolute;
		left: 50%;
		margin-left: -138px;
		margin-top: 28px;
	}
		#logo-main img {width: 277px;}
	#hSearch {display: none;}
	#subheader {display: none;}
	body.home #subheader {
		display: block;
		height: 421px;
		margin: -508px auto 0 auto;
		width: 100%;
	}
		#shSteps {display: none;}
		#qrForm {
			float: none;
			width: 100%;
			height: 381px;
			padding: 19px 0 0 0;
			margin-top: 0;
		}
			body.home #qrForm {
				float: none;
				width: 100%;
				height: 381px;
				padding: 19px 0 0 0;
				margin-top: 0;
			}
			#formPlacement, body.home #formPlacement {
				float: none;
				width: 280px;
				position: relative;
				margin: 0 auto;
			}
			#qrForm h2 {
				margin-top: 0;
				float: none;
			}
		#qrForm p {
			float: none;
			width: 276px;
			margin: 0 auto;
		}
			#qrForm .sexyDropWrapper .sexyDropUI {font-size: 16px;}
			#qrForm select {width: 130px; font-size: 16px;}		
			#qrForm input {font-size: 16px;}
			
			.formRight {float: right;}
				#zipRight {margin: 0;}
				#formName {clear: none;}
				#fLast {margin-bottom: 84px;}
					#fLast input {
						padding: 0 0 0 10px;
						width: 128px;
					}
			.thirdLine, body.home .thirdLine {
				right: 0;
				top: 140px;
			}
			#qrForm .button-holder {
				clear: both;
				float: none;
				margin: 14px 0 13px 0;
			}
	.tinynav {
		display: block;
		width: 280px;
		margin: 0 auto;
		height: 40px;
		padding: 0 0 0 10px;
		border: 1px solid #cccccc;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		color: #252525;
		font-weight: 400;
		background: url('img/nav-arrow.png') 251px center no-repeat #fff;
		outline: none;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		cursor: pointer;
		font-size: 16px;
		-webkit-appearance: none;
	}
	nav#mainMenu {margin-bottom: 30px;}
	body.home nav#mainMenu {
		margin-top: 430px;
		clear: none;
	}
	nav#mainMenu ul {display: none;}
	#contentArea {padding: 0;}
		body.home #contentArea {
			margin-top: 59px;
			padding: 20px 0 0 0;
		}
	#sbWrapper {background: url(img/subheader-x.jpg) left top;}
	#sidebar {
		float: none;
		width: 280px;
		margin: 0 auto;
		padding: 27px 0 0 0;
		overflow: hidden;
	}
	#contentWrapper {
		background-color: #fff;
		overflow: hidden;
	}	
	#mainContent {
		float: none;
		width: 280px;
		margin: 0 auto;
		padding: 22px 0 21px 0;
	}
		body.home #mainContent.contentBox {
			width: 320px;
			padding: 0;
		}
	#homeContent {padding-bottom: 0;}
	#complianceText.contentBox {
		margin-top: 0;
		padding-top: 0;
	}
	.contentBox {
		padding: 22px 20px 20px 20px;
		background-color: transparent;
		border: none;
	}
	#mainContent.contentBox {width:280px;}
	#mainFooter {
		padding: 33px 0 30px 0;
		position: relative;
		width: 280px;
		margin: 0 auto;
	}
		body.home #mainFooter {padding: 38px 0 30px 0;}
		#fLeft {width: 100%;}
		#logo-footer {
			float: none;
			position: absolute;
			margin-top: 0;
			left: 50%;
			top: 33px;
			margin-left: -140px;
		}
		#mainFooter p {
			position: absolute;
			top: 60px;
			width: 277px;
			color: #393939;
		}
			#mainFooter p span {display: block;}
		#mainFooter ul {
			margin-top: 97px;
		}
	
	/* Mobile Apply Page*/

	/* General
	-------------------------------------------------------------- */
	.myForm .eeForm {width: 100%;}
	.myForm .eeForm h4.header {
		font-size: 18px;
		padding: 0 20px 16px 9px;
		border-bottom: 1px solid #e6e6e6;
	}
	.myForm .eeForm h4.header.partition-1-3-0 {
		border-top: 1px solid #e6e6e6;
		padding: 16px 20px 16px 9px;
		margin-top: 20px;
	}
	.myForm .eeForm ul.formElements {padding: 0 9px; width: auto;}
	/* Form Elements
	-------------------------------------------------------------- */
	.myForm .eeForm .half {
		width: 93px;
		padding: 0;
		margin-right: 10px;
	}
	.myForm .eeForm p.griditem {
		width: auto;
		height: 37px;
		margin-right: 10px;
		margin-bottom: 30px;
		padding: 0;
	}
	.myForm .eeForm li#fName-li p.griditem {clear: left;}
	.myForm .eeForm li#zip-li p.griditem, .myForm .eeForm li#city-li p.griditem, .myForm .eeForm li#state-li p.griditem {
		width: 93px;
		margin-right: 11px;
	}
	/* Remove padding from the right side of each item so that it fits in line */
	.myForm .eeForm li#lName-li p.griditem,
	.myForm .eeForm li#state-li p.griditem,
	.myForm .eeForm li#rentOwn-li p.griditem,
	.myForm .eeForm li#phone-li p.griditem,
	.myForm .eeForm li#callTime-li p.griditem,
	.myForm .eeForm li#bYear-li,
	.myForm .eeForm li#employerName-li p.griditem,
	.myForm .eeForm li#employerPhone-li p.griditem,
	.myForm .eeForm li#paidEvery-li p.griditem,
	.myForm .eeForm li#secondPayday-li p.griditem,
	.myForm .eeForm li#accountNumber-li p.griditem,
	.myForm .eeForm li#bankName-li p.griditem,
	.myForm .eeForm li#monthsBank-li p.griditem,
	.myForm .eeForm li#monthlyNetIncome-li p.griditem
	{margin-right: 0;}
	
	.myForm .eeForm li#directDeposit-li label {font-size: 12px;}
	
	/* change width of inputs to small */
	.myForm .eeForm li#zip-li p.griditem input,
	.myForm .eeForm li#city-li p.griditem input,
	.myForm .eeForm li#state-li p.griditem input,
	.myForm .eeForm li#bDay-li p.griditem, 
	.myForm .eeForm li#bYear-li p.griditem
	{width: 76px;}
		
		/* change width of selects */
		.myForm .eeForm li#state-li p.griditem select,
		.myForm .eeForm li#bMonth-li p.griditem select,
		.myForm .eeForm li#bDay-li p.griditem select,
		.myForm .eeForm li#bYear-li p.griditem select
		{width: 93px;}
		
		/* change width of sexyDropWrapper to match select */
		.myForm .eeForm li#state-li p.griditem .sexyDropWrapper,
		.myForm .eeForm li#bMonth-li p.griditem .sexyDropWrapper,
		.myForm .eeForm li#bDay-li p.griditem .sexyDropWrapper,
		.myForm .eeForm li#bYear-li p.griditem .sexyDropWrapper
		{width: 93px;}
			
			/* hide text in specific sexyDrops */
			.myForm .eeForm li#state-li p.griditem .sexyDropWrapper .sexyDropUI,
			.myForm .eeForm li#bMonth-li p.griditem .sexyDropWrapper .sexyDropUI 
			{color: transparent;}
			
			/* change width of sexyDropUI to fit sexyDrops and select */
			.myForm .eeForm li#state-li p.griditem .sexyDropWrapper .sexyDropUI,
			.myForm .eeForm li#bMonth-li p.griditem .sexyDropWrapper .sexyDropUI,
			.myForm .eeForm li#bYear-li p.griditem .sexyDropWrapper .sexyDropUI,
			.myForm .eeForm li#bDay-li p.griditem .sexyDropWrapper .sexyDropUI {
				width:76px;
				background-position: 65px;
			}
		.myForm .eeForm li#address-li p.griditem,
		.myForm .eeForm li#address-li p.griditem input,
		.myForm .eeForm li#email-li p.griditem,
		.myForm .eeForm li#email-li p.griditem input,
		.myForm .eeForm li#license-li p.griditem input,
		.myForm .eeForm li#ssn-li p.griditem input 
		{width: 285px;}

		.myForm .eeForm li#ssn-li p.griditem {padding-left: 9px;}
		
		.myForm .eeForm li#armedForces-li p.griditem span.i-agree {font-size: 10px;}
		
	.myForm .eeForm label {
		margin: 0 0 3px 1px;
	}
	.myForm .eeForm input,
	.myForm .eeForm select {
		height: 27px;
		width: 129px;
	}
	.myForm .eeForm select {height: 37px;}
	.myForm .eeForm .half input {
		width: 108px;
	}
	.myForm .eeForm .btmbar {padding-left: 9px;}
	.myForm .eeForm .btmbar .prev-button {
		display: inline-block;
		margin-right:40px;
		float:left;
		width: 260px;
		height: 40px;
		background: url(img/back-button.jpg) left top no-repeat;
		cursor: pointer;
	}
	.myForm .eeForm .btmbar .prev-button img, .myForm .eeForm .btmbar .next-button img {display: none;}
	.myForm .eeForm .btmbar .next-button {
		display: inline-block;
		float:left;
		width: 260px;
		height: 40px;
		background: url(img/submit-button.jpg) left top no-repeat;
		cursor: pointer;
	}

	.myForm .eeForm .sexyDropWrapper {
		height: 37px;
		width: 146px;
	}
	.myForm .eeForm .sexyDropWrapper .sexyDropUI {
		background-position: 120px center;
		width: 129px;
		height: 27px;
		line-height: 27px;
	}
	.myForm .eeForm .sexyDropWrapper select {
		width: 146px;
		height: 37px;
	}
	.myForm .eeForm .sexyDropWrapper.valid .sexyDropUI{
		background-color: #F0FFEC;
		border-color: #5BBB42;
	}
	.myForm .eeForm li.half p .sexyDropWrapper {width: 110px;}
	.myForm .eeForm li.half p .sexyDropWrapper .sexyDropUI {
		width: 93px;
		background-position: 81px center;
	}
	.myForm .eeForm li.half p .sexyDropWrapper select {width: 110px;}
	body.apply #wrapper {background: url(img/header-x.jpg) left top repeat-x;}
	body.apply #wrapperHome {background: url(img/subheader-x.jpg) left 70px repeat-x;}
	body.apply #contentWrapper {
		width: 320px;
		margin: 0 auto;
	}
	.myForm .eeForm .btmbar div.controls {margin-top: 13px;}
	.myForm .eeForm .btmbar .next-button {
		background: url(img/mobile-submit.jpg) left top no-repeat;
		width: 300px;
	}
	.myForm .eeForm .btmbar .page2 {
		background: url(img/mobile-submit2.jpg) left top no-repeat !important;
		width: 220px;
	}
	.myForm .eeForm .btmbar .prev-button {
		background: url(img/mobile-back.jpg) left top no-repeat;
		height: 40px;
		width: 60px;
		margin-right: 20px;
	}

	body.apply #mainFooter {
		height: 49px;
		background-color: #fff;
		width: 320px;
		padding: 22px 0 0 0;
	}
	body.apply #fLeft {
		display: none;
	}
	body.apply #logo-footer {
		top: 12px;
		margin-left: -139px;
	}
	/* Contact Page */
	#cuName span input, #cuEmail span input, #cuSubject span input, #cuMessage span textarea {width: 266px;}
	#cuCapBox span input {width: 166px;}
	span#cuCapBox {float: right;}
	#cuButton input {
		clear: both;
		float: none;
		margin: 0;
		width: 280px;
		background: url(img/contact-submit-mobile.png) left top no-repeat;
	}
}